*{
  margin: 0;
  padding: 0;
  
}
header, footer, main, aside, article, section, nav, span, p {
  display:block;
}

#logo{
  float: right;
  background-image: url(../images/logo.png);
  height: 90px;
  background-repeat: no-repeat;
  background-position: 98%;
}

#logotitel{
	font-size:85px;
	text-align: right;
	padding-right: 90px;
	padding-top: 0;
  padding-left: 10px;

}

.statisticButton{
  font-size: 30px;
  padding:5px;
  margin-top: 40px;
  margin-right: 10px;
  float: right;
}

.staticText{
  color: #EEC166;
  float: right;
  font-size: 30px;
  margin-right: 10px;
  margin-top: 50px;

}

.navText{
  float: left;
  color: #EEC166;
  font-size: 30px;
  margin-left: 30px;
  margin-top: 50px;

}

.toolPopUp{

  background-color: #EBF2FA;
  height: auto;
  width: 250px;
  color: #EEC166;
  font-size: 22px;
  text-align: center;
  margin: 10px;
  
}

.wordPopup{
  color: #5D8688;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

.wordExplanation{
  margin-top: 10px;
  color: #000000;
  white-space: initial;
}

.clear{
  clear: both;
}

#wrapper {
    width: 95%;
    margin: 0 auto;
}

nav{
  height: 100px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    font-size: 20px;
    width: 200px;
    background-color: #E9EFF8;
    color: #EEC166;
    text-align: center;
    border-radius: 6px;
    padding: 20px;
    margin-top: 90px;
    margin-left: 50px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}