/*style for popUp page*/
.extencionBody{
    background: #e9f2fb;
}

.mainPopUpSection{
    color:black;
    padding: 8px;
    width: 200px;
    margin: 0 auto;
    font-family: Narkisim;
}

.mainPopUpSectionForStatistics{
    color:black;
    width: 400px;
    margin: 0 auto;

}

.extensionPageBlock{
    margin-top:25px ;
    /*border: solid ;*/
    /*border-width: 1px;*/
    /*border-color: #2cbad0;*/
    /*background: #e9f2fb;*/

    /*padding-right: 4px;*/
}

.extensionClickableElement{
    color: #3c938c;
    height: auto;
    padding-right: 4px;
    margin-top:20px ;
}

.nomOfWordsTitle{
    font-family: "NarkisBlockMF Medium";
}

.optionTitle{
    font-family: "NarkisBlockMF Medium";
    font-size: 17px;
    width: 115px;
    display: inline-block;
}

.popUpFooter{
    height: 80px;
    padding-right: 4px;
    color: #e73739;
}

.linkToMyWords{
    color: #3c938c;
    background-color: transparent;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 8px;
    font-family: "NarkisBlockMF Medium";
}

.linkToMyWords:hover{
    text-decoration: none;
    color: #3c938c;
}

.linkToWebSite{
    color: #3c938c;
    background-color: transparent;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 8px;
    font-family: "NarkisBlockMF Medium";
}

.linkToWebSite:hover{
    text-decoration: none;
    color: #3c938c;

}

.extensionTitle{
    color: #3c938c;
    border-bottom: solid #f7c062;
    /*for moving the line under the title more down*/
    padding-bottom: 8px;
    font-family: "Hadassah Friedlaender";
    font-weight: bold;
}

#numberOfWordsInPage{
    color: #3c938c;
    font-weight: bold;
    font-family: "Hadassah Friedlaender";

}

.numberOfWordsInPageText{
    font-family: "NarkisBlockMF Medium";
    font-size: 120%;
}

#numberOfWordsInTotal{
    color: #3c938c;
    font-weight: bold;
    font-family: "Hadassah Friedlaender";
}

.latinWordsInPopUp {
    color: #f7c062;
    font-family: "NarkisBlockMF Medium";
}

/*style for extension elements (popUp on specific word) in the current page*/
.latinWords {
    color: #ffffff;
    background-color: #f7c062;
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span.latinWords:hover {
    cursor: help;
}

.hebrewWords{
    color: #3c938c;
    margin-right: 10px;
    font-family: "NarkisBlockMF Medium";
}

.explenation{
    white-space: initial;
    direction: rtl;
    margin-top: 6px;
    font-family: "NarkisBlockMF Medium";
    width: 200px;
    color: #000000;
    font-size: 80%;
}

/*for drawin lines in the popUp screen*/
.makeBorderToPopUpHebrewAndLatinWords{
    width:180px;
    display: inline-block;
    width: 100%;
}

/* The actual popup */
.latinWords .popuptext {
    direction: rtl;
    visibility: hidden;
    width: 150px;
    display: block;
    background-image: url("https://s29.postimg.org/o21xvbrjr/best_Row2.png");
    color: #555;
    text-align: right;
    border: solid;
    border-color: #e9f2fb;
    padding: 8px 0;
    position: absolute;
    z-index: 5;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    z-index:99999;
}

/* Popup arrow */
.latinWords .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #e9f2fb transparent transparent transparent;
    z-index:99999;
}

/* Toggle this class - hide and show the popup */
.latinWords .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    z-index:99999;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/*for swich functionality*/
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    top:8px;
    margin-right: 10px;
}

.switch input {display:none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    /*the color of the slider-  NOT pressed state*/
    background-color: #f1d6a5;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    /*the color of the slider- PRESSED state*/
    background-color: #f7c062;

}

input:focus + .slider {
    box-shadow: 0 0 1px #f7c062;
}

input:checked + .slider:before {
    -webkit-transform: translateX(11px);
    -ms-transform: translateX(11px);
    transform: translateX(11px);
    /*the color of the button in the slider-  pressed state*/
    background-color: #3c938c;
}

/* Rounded sliders */
.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
    /*the color of the button in the slider- not pressed state*/
    background-color: #3c938c;
}

.newFont{
    font-family: "Hadassah Friedlaender";
}

/*for personal statistic*/
.toolPopUp{
    background-color: #EBF2FA;
    height: auto;
    width: auto;
    /*color: #EEC166;*/
    font-size: 18px;
    text-align: right;
    margin: 2px;
    padding: 0;
    font-style: normal;
}

.logotitel{
    float: right;
    margin-right: 40px;
    height: 26px;
    font-size:18px;
    font-family: "NarkisBlockMF Medium";
    color: #39938b;
    /*background: yellow;*/
    /*text-align: right;*/
    /*padding-right: 10px;*/
    /*padding-top: 0;*/
    margin-top: 6px;
}

.PersonalStatisticTitle{
    background-image: url(../images/logoForPersonalStatistic.png);
    height: 30px;
    background-repeat: no-repeat;
    background-position: 98%;
    margin: 0;
    padding: 0;

}

.PersonalStatisticOrangeLine a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-family: "NarkisBlockMF Medium";
    margin-top: 6px;
    margin-left: 16px;
    display: inline-block;
}

.PersonalStatisticOrangeLine{
    background: #f4c16b;
}

.personalStatisticBody{
    background: #f8f9fd;
}




