/*style for popUp page*/
.mainPopUpSection{
    background-color: #ffffff;
    color:black;
    padding: 0px;
    width: 200px;
    margin: 0 auto;
    font-family: Narkisim;
}

.extensionPageBlock{
    border: solid ;
    border-width: 1px;
    border-color: #2cbad0;

    padding-right: 4px;
}

.extensionClickableElement{
    border: solid;
    border-color: #2cbad0;
    border-width: 1px;
    color: #2cbad0;
    background: #ffffff;
    height: auto;
    margin-top: -2px;
    padding-right: 4px;
}




.popUpFooter{
    border: solid;
    border-color: #2cbad0;
    border-width: 1px;
    height: 80px;
    margin-top: -1px;
    padding-right: 4px;
    color: #e73739;

}
/*peoblemStart*/




/*peoblemEnd*/

.linkToMyWords{
    color: #e73739;
    background-color: transparent;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 8px;
}
.linkToMyWords:hover{
    text-decoration: none;
    color: #2cbad0;
}

.linkToWebSite{
    color: #e73739;
    background-color: transparent;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 8px;
}
.linkToWebSite:hover{
    text-decoration: none;
    color: #2cbad0;
}



.extensionTitle{
    color: #e73739;
}

#numberOfWordsInPage{
    color: #e73739;
    font-weight: bold;
}





/*style for extension elements in the current page*/
.latinWords {
    color: #e73739;
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}




.hebrewWords{
    color: #2cbad0;
    margin-right: 10px;

}

.explenation{
    /*color:blue;*/
    font-family: Narkisim;
    font-size: 70%;
}
/* The actual popup */
.latinWords .popuptext {
    direction: rtl;
    visibility: hidden;
    width: 160px;
    background-color: white;
    color: #555;
    text-align: right;


    border: solid;
    border-color: #2cbad0;
    /*border-right-width: 3px;*/
    /*border-top-width: 3px;*/

    padding: 8px 0;
    position: absolute;
    z-index: 5;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    z-index:99999;
}

/* Popup arrow */
.latinWords .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #2cbad0 transparent transparent transparent;
    z-index:99999;
}

/* Toggle this class - hide and show the popup */
.latinWords .show {

    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    z-index:99999;

}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}