.axis path, .axis line {
    fill: none;
    stroke: #fff;
}

.axis text {
    font-size: 13px;
}

.bar {
    fill: white;
    font-size:50px;
}

svg text.label {
    fill:blue;
    font-weight: 400;
    text-anchor: middle;
}

#chartID {
    min-width: 531px;
}

text.label{
    background-color: #2cbad0;
}

div text{
    background-color: red;
}